*:not(.token):not(i),
button {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  line-height: 1.4;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body,
div#root {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  position:relative;
}

button:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}
